watson-news-db.json
[{"id":"3ac6f867.5cd7e8","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"86eff748.817308","type":"feedparse","z":"3ac6f867.5cd7e8","name":"RSS","url":"http://www.eltiempo.com/rss/opinion.xml","interval":15,"x":130,"y":80,"wires":[["68753a83.29d934"]]},{"id":"9b3c7c7c.9c8b8","type":"debug","z":"3ac6f867.5cd7e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"features","x":650,"y":180,"wires":[]},{"id":"68753a83.29d934","type":"function","z":"3ac6f867.5cd7e8","name":"Set Payload","func":"msg.payload = msg.topic;\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":80,"wires":[["b5f00787.4cfe88"]]},{"id":"b5f00787.4cfe88","type":"natural-language-understanding","z":"3ac6f867.5cd7e8","name":"NLU","categories":false,"concepts":true,"maxconcepts":"3","doc-emotion":false,"doc-emotion-target":"","doc-sentiment":true,"doc-sentiment-target":"","entity":true,"entity-emotion":false,"entity-sentiment":false,"maxentities":"3","keyword":false,"keyword-emotion":false,"keyword-sentiment":false,"maxkeywords":"50","metadata":false,"relation":false,"semantic":false,"semantic-entities":false,"semantic-keywords":false,"maxsemantics":"50","default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/natural-language-understanding/api","x":470,"y":80,"wires":[["9b3c7c7c.9c8b8","1a498fc3.ecc3a"]]},{"id":"9f4df282.6d739","type":"cloudant out","z":"3ac6f867.5cd7e8","name":"DB","cloudant":"","database":"noticias_watson","service":"iot-plantas-llara-cloudantNoSQLDB","payonly":true,"operation":"insert","x":830,"y":80,"wires":[]},{"id":"1a498fc3.ecc3a","type":"function","z":"3ac6f867.5cd7e8","name":"Set Payload","func":"msg.payload = msg.features;\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":80,"wires":[["9f4df282.6d739"]]}]
