web-news-db.json
[{"id":"e571cb50.117328","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"756796dd.712f78","type":"http in","z":"e571cb50.117328","name":"IN HTTP","url":"/feed","method":"get","upload":false,"swaggerDoc":"","x":220,"y":160,"wires":[["ca56ae7b.c6748"]]},{"id":"ca56ae7b.c6748","type":"cloudant in","z":"e571cb50.117328","name":"DB","cloudant":"","database":"watson_noticias","service":"iot-plantas-llara-cloudantNoSQLDB","search":"_all_","design":"","index":"","x":390,"y":160,"wires":[["e5ff8313.d90bc"]]},{"id":"b7c8debc.edd4a","type":"debug","z":"e571cb50.117328","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":790,"y":80,"wires":[]},{"id":"e5ff8313.d90bc","type":"template","z":"e571cb50.117328","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<b>Captura de Noticias:</b><br><br>\n{{#payload}} \nLa noticia en {{retrieved_url}}<br> \nConceptos:<br>\n{{#concepts}} \n+ {{text}} ({{relevance}})<br>\n{{/concepts}} \nEntidades:<br>\n{{#entities}} \n+ {{text}} - {{type}} ({{relevance}})<br>\n{{/entities}}\nSentimiento {{sentiment.document.label}} ({{sentiment.document.score}}) <br>\n<br>\n{{/payload}}\n","output":"str","x":560,"y":160,"wires":[["b7c8debc.edd4a","e4e54d4f.ddc55"]]},{"id":"e4e54d4f.ddc55","type":"http response","z":"e571cb50.117328","name":"OUT HTTP","statusCode":"","headers":{},"x":790,"y":160,"wires":[]}]
